* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    --white-title: #E1E1E6;
    --white-subtitle: #FFFFFF;
    --white-description: #C4C4CC;

    --purple-500: #8257E5;
    --green-500: #00B37E;

    --black-500: #09090A;
}



body {
    background-color: var(--black-500);
    font-family: 'Roboto', sans-serif;

}


/* PRIMEIRA DOBRA */

.page1{
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    
}

.bg-page-1{
  position: absolute;
  z-index: -1;
  top: 0;


  background-position: center center;
}

.hero1 {
    width: 1440px;
    margin: auto;

    padding: 32px;
    
}

header {
    width: 90rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;

    margin-top: 3.4375rem;
}

.logo {
    height: 4rem;
}

.vector {
    height: 2.625rem;
}


header p {
    color: var(--white-subtitle);
    font-size: 1rem;
    line-height: 20%;
}

.gap{
    gap: 180px;
}

section {
  display: flex;
  align-items: center;
}


main {
    width: 940px;
}

main h1 {
    color: var(--white-title);
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 125%;

    margin-top: 4.625rem;

}

main span {
    color: var(--green-500);
}

main .subtitle {
    color: var(--white-subtitle);
    font-size: 1.375rem;
    line-height: 160%;
    margin: 1rem 0 ;
}

main p {
    color: var(--white-description);
    font-size: 1rem;
    line-height: 160%;
}

button{
    background: transparent;
    border: none;
    display: flex;
    gap: 20px;
}

main button a {
    background: transparent;
    border: 1px solid var(--purple-500);
    border-radius: 6px;
    height: 50px;
    padding: 0 1.5rem;
    text-decoration: none;
    width: 256px;
    color: var(--white-subtitle);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 0.75rem;
    line-height: 20%;

    transition: 0.2s;

    margin-top: 2rem;

    text-transform: uppercase;

    font-family: 'Roboto', sans-serif;
}


.button-2 {
  background: var(--purple-500);
  transition: 0.2s;
}


main button a:hover{
    background: var(--green-500);
    border: 1px solid var(--grenn-500);
}

/* ANIMAÇÃO ICONES DASHBOARD */

.bg-dashboard{
  position: relative;
}

.icon-conjunto{
  position: absolute;
  left: 12px;
  bottom: 0;

  animation: icons-hero 7s 0.5s ease infinite alternate;
}

.icon-azure-page1{
  position: absolute;
  right: 500px;
  top: 50px;

  animation: icons-hero 7s 1s ease infinite alternate;
}


.icon-direito{
  position: absolute;
  right: 110px;
  bottom: 0;

  animation: icons-hero 7s 2.5s ease infinite alternate;

}

@keyframes icons-hero{
  0%{
      transform: translate3d(0,0,0);
  }
  100%{
      transform: translate3d(10px, -40px,0);
  }
}

/* ANIMAÇÃO ICONES POWER BI */

.icones-hero{
  position: relative;
  margin-left: -100px;

  animation: icons-hero-bi 7s 0.3s ease infinite alternate;
  
}

.fabric-hero{
  width: 80px;

  position: absolute;
  top: 60px;
  left: -80px;

  animation: icons-hero-bi 7s 0.5s ease infinite alternate;
}

.power-hero{
  width: 85px;

  position: absolute;
  top: -90px;
  left: 130px;

  animation: icons-hero-bi 7s 1s ease infinite alternate;
}

.direto-hero{
  width: 80px;

  position: absolute;
  top: 70px;
  right: -100px;

  animation: icons-hero-bi 7s 2.5s ease infinite alternate;
}


@keyframes icons-hero-bi{
  0%{
      transform: translate3d(0,0,0);
  }
  100%{
      transform: translate3d(5px, -10px,0);
  }
}

/* SEGUNDA DOBRA */

.bg-page-2{
  position: absolute;
  z-index: -10;

  background-position: center center;
  
}


.page2{
  background-repeat: no-repeat;
  margin-top: -10px;
  height: 975PX;
  background-position: center;
  
}


.hero2 {
  width: 1440px;
  margin: 0 auto;
  margin-top: -200px;
  
}

.page2 h1{
  margin-top: 100px;
  margin-bottom: 55px;
  color: var(--white-title);
}

.page2 span {
  color: var(--green-500)
}

.video {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page2 li {
  color: var(--white-description);
  font-size: 23px;
  font-style: normal;
  font-weight: 100;
  line-height: 160%;

  list-style: none;
  margin-bottom: 26px;

  display: flex;
  align-items: center;
  gap: 22px;
}

.page2 p{
  color: var(--white-description);

  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 125%;
  letter-spacing: 8px;

  margin-top: 50px;

}

.video video {
  width: 750px;
  border-radius: 8px;
}

/* TERCEIRA DOBRA */

.bg-page-3{
  position: absolute;
  z-index: -10;
  top: 100px;

  background-position: center center;
}

.portfolio {
    width: 1440px;
    margin: auto;
    padding-top: 40px;
  }
  
  .portfolio h1 {
    color: var(--white-title);
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    text-transform: uppercase;
  }

  .portfolio p {
    color: var(--white-title);
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 125%;
    letter-spacing: 1.4px;
    text-transform: uppercase;

  }
  
  .portfolio img {
    border-radius: 8px;
  }


  .session-1,
  .session-2 {
    display: flex;
    justify-content: space-between;
  
  }

  .dashboard-1,
  .dashboard-2,
  .dashboard-3,
  .dashboard-4 {
    display: flex;
    flex-direction: column;
    margin-top: 60px;

  }

  .dashboard-3,
  .dashboard-4 {
    margin-top: 90px;
  }

  .dashboard-1 img,
  .dashboard-2 img,
  .dashboard-3 img,
  .dashboard-4 img {
        width: 700px;
  }
  
  .dashboard-1 a,
  .dashboard-2 a,
  .dashboard-3 a,
  .dashboard-4 a {
    background: transparent;
    color: var(--purple-500);
    border: 1px solid var(--purple-500);
    border-radius: 6px;
    height: 50px;
    padding: 0 1.5rem;
    text-decoration: none;
    width: 256px;
    color: var(--white-subtitle);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 0.75rem;
    line-height: 20%;

    transition: 0.3s;

    margin-top: 2rem;

    text-transform: uppercase;

    font-family: 'Roboto', sans-serif;

  }

  .dashboard-1 a:hover,
  .dashboard-2 a:hover,
  .dashboard-3 a:hover,
  .dashboard-4 a:hover {
    background: var(--green-500);
    border: 1px solid var(--grenn-500);
  }

.dashboard-1 h1,
.dashboard-2 h1,
.dashboard-3 h1,
.dashboard-4 h1 {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 28.204px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;

}

.dashboard-1 p,
.dashboard-2 p,
.dashboard-3 p,
.dashboard-4 p {
  color: var(--white-description);
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  line-height: 160%;
  text-transform: none;

  margin-bottom: 16px;

  width: 690px;

}

.button {
  display: flex;
  gap: 22px;
}

.button .button-2 {
  background: var(--purple-500);
}
  
.footer-page3 h1 {
  color: var(--white-title);
  text-align: center;
  margin-top: 100px;

  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;

  text-transform: none;
}

.footer-page3 p {
  color: var(--white-title);
  text-align: center;

  margin-top: 10px;

  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 125%;
  letter-spacing: 8px;
}

.footer-page3 img {
  width: 100%;
  height: 284px;
 
}


/* QUARTA DOBRA */

.page4 {
  background-image: url(./assets/bg-quarta-dobra.webp);
  background-position: center;
  background-repeat: no-repeat;

  height: 2349px;

  display: flex;
  flex-direction: column;
}


.hero4 {
  width: 1440px;
  margin: 0 auto;
}

.hero4 h1 {
  margin-top: 90px;

  color: var(--white-title);
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  text-transform: uppercase;
}

.hero4 p {
  color: var(--white-description);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 125%;
  letter-spacing: 1.4px;
  text-transform: uppercase;

}

.cards {
  display: flex;
  gap: 24px;

}

.card {
  width: 341.52px;
  height: 527.27px;

  border: 1px solid var(--purple-500);
  border-radius: 9.59px;

  margin-top: 70px;
  padding: 35px 28px 60px;

}

.divisor {
  width: 5.214px;
  height: 34.26px;
}

.card .titulo {
  display: flex;
  justify-content: flex-start;
  color: var(--white-subtitle);
  align-items: center;
  gap: 8px;
}

.card p {
  font-size: 16px;
  font-weight: 100;
  line-height: 160%;
  text-transform: none;

  margin-top: 28px;
  margin-bottom: 22px;
}

.icones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.line {
  border: 0.5px dashed var(--green-500);
  margin-top: 16px;
}

.footer-page4 h1 {
  color: var(--white-title);
  text-align: center;
  margin-top: 100px;

  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;

  text-transform: none;
}

.footer-page4 p {
  color: var(--white-title);
  text-align: center;

  margin-top: 10px;

  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 125%;
  letter-spacing: 8px;
}

.footer-page4 img {
  width: 100%;
  height: 284px;
 
}

/* QUINTA DOBRA - HTML DENTRO DA QUARTA DOBRA */

.page5 {
  width: 1440px;
  margin: auto;

  margin-top: -90px;

}

.hero5 {
  width: 1440px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  
}

.conteudo h1 {
  color: var(--white-title);
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  text-transform: uppercase;
}

.conteudo p {
  color: var(--white-description);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 125%;
  letter-spacing: 1.4px;
  text-transform: uppercase;

  margin-top: 8px;
  margin-bottom: 56px;
}

.conteudo .text-sobre-nos {
  width: 689px;
  height: 414px;
  flex-shrink: 0;
  
  color: var(--white-subtitle);
  font-size: 20px;
  font-weight: 300;
  line-height: 125%;

  text-transform: none;

}

.conteudo img {
  display: block;
  margin-top: 60px;
}

.dash-lateral {
  display: flex;
  gap: 32px;

  height: 657px;
}

.dash-lateral .img-dash {
  border-radius: 10px;
}

/* SEXTA DOBRA */

.page6 {
  margin-top: -400px;
  width: 100%;
  background-image: url(./assets/bg-quarta-dobra.webp);
}

.hero6 {
  width: 1440px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

}

.form {
  width: 638px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.form p {
  margin-top: 86px;
  margin-bottom: 8px;

  font-size: 14px;
  font-weight: 300;
  line-height: 125%;
  letter-spacing: 1.4px;
  text-transform: uppercase;

  color: var(--white-description);
}

.form h1 {
  color: var(--white-title);
  font-size: 38px;
  font-weight: 500;
  line-height: 125%;
  text-transform: uppercase;

  margin-bottom: 50px;
}

label {
  color: var(--white-title);
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 1.6px;
}

input{
  width: 638px;
  height: 55px;

  margin-top: 6px;
  margin-bottom: 25px;

  border-radius: 4.22px;
  border: 1px solid #8257E5;
  background: rgba(130, 87, 229, 0.10);
}

input::placeholder{
  font-family: 'Roboto', sans-serif;
  color: var(--white-title);
  font-size: 14px;
  font-weight: 100;
  line-height: 125%;
  letter-spacing: 1.4px;

  padding: 17px 15px;
}

.btn {
  justify-content: flex-end;
}

.button-form {
  border-radius: 4.216px;
  border: 1.022px solid var(--purple-500);
  background: var(--purple-500);
  color: var(--white-subtitle);

  max-width: 146px;
  width: 100%;
  padding: 10px 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: .3s ease;

}

.button-form:hover{
  background: var(--green-500);
  border: 1.022px solid var(--green-500);
}

.side-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon{
  width: 450px;

  margin-top: 50px;

}



/* RESPONSIVIDADE */

@media(max-width: 450px){
  .gap{
    gap: 15px;
}

  .bg-dashboard{
    width: 60px;
}
}
